*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
div{
    
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em;
    
    
}
.main>div{
    background-color: rgba(230, 246, 254, 0.67);
    text-align: left;
    height: 40vh;
    
}
.img-container{
    height: 60%;
    width: 100%; 
    margin: 0;
}
.main div img{
    margin: auto;
    height: 100%;
    object-fit: contain;
    
}